<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-post">Create new post</a>
<h1>Post</h1>
<div>
    <form action="/find" method="post">
        <input type="text" name = "textSearch" placeholder="Nhập title">
        <input type="submit" value="Search">
    </form>
</div>
<div>
    <form action="/find-title-timecreate" method="post">
        <input type="text" name = "textSearch" placeholder="Nhập title">
        <input type="text" name = "timeStart" placeholder="Nhập khoảng thời gian bắt đầu">
        <input type="text" name = "timeEnd" placeholder="Nhập khoảng thời gian kết thúc">
        <input type="submit" value="Search">
    </form>
</div>
<div>
    <form th:action="@{/post-asc}" th:object="${posts}" method="post">
        <button>Post List Asc</button>
    </form>
</div>

<div>
    <form th:action="@{/post-top4-new}" th:object="${posts}" method="post">
        <button>Top 4 Post mới nhất</button>
    </form>
</div>
<div th:if="${posts!= null}">
    <div th:each="pt : ${posts}">
        <span th:text="${pt.title}"></span>
        <span th:text="${pt.content}"></span>
        <span th:text="${pt.createAt}"></span>
        <span th:text="${pt.likes}"></span>
    </div>
</div>
<div th:if="${posts == null}">
    <div th:each="pt : ${posts}">
        <span th:text="${pt.title}"></span>
        <span th:text="${pt.content}"></span>
        <span th:text="${pt.createAt}"></span>
        <span th:text="${pt.likes}"></span>
        <a th:href="@{/edit/__${pt.id}__}">Sửa</a>
    </div>
</div>
</body>
</html>